{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'create_warrior/css/site.css' %}">
<title>{{ cat.name }}</title>
</head>
<body>
<div class="page-header">
<h1>{{ cat.name }}</h1>
</div>
<div class="page-body">
<div class="left">
<h2>Name:
{{ cat.name }} </h2>
</ br>
</ br>
<h2><img src="{{ cat.photo.url }}"></h2>
</br>
</br>
<h2>Age:
{{cat.age}} moons</h2>
</ br>
</ br>
<h2>Clan:
{{cat.clan}}</h2>
<h2>Position:
{{cat.get_position_display}} </h2>
</br>
</br>
<a href="/create_warrior/cats/{{cat.name}}/edit/">(Edit Cat)</a></br>
Create: <a href="/create_warrior/cats/add/">Cat</a> | <a href="/create_warrior/clans/add/">Clan</a></br>
List: <a href="/create_warrior/list/">Cats</a></br>
Other: <a href="/create_warrior/">Home</a></br>
</div>
<div class="right">
<table>
  <tr>
    <th>Stats</th>
    <th>0 - 100</th>
  </tr>
  <tr>
    <td>Strength:</td>
    <td>{{cat.strength}}</td>
  </tr>
  <tr>
    <td>Intelligence:</td>
    <td>{{cat.intelligence}}</td>
  </tr>
  <tr>
    <td>Agility:</td>
    <td>{{cat.agility}}</td>
  </tr>
  <tr>
    <td>Health:</td>
    <td>{{cat.health}}</td>
  </tr>
  <tr>
    <td>Speed:</td>
    <td>{{cat.speed}}</td>
  </tr>
  <tr>
    <td>Perception:</td>
    <td>{{cat.perception}}</td>
  </tr>
  <tr>
    <td>Sensitivity:</td>
    <td>{{cat.sensitivity}}</td>
  </tr>
</table>

</div>

</div>
</body>
</html>
