{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'create_warrior/css/site.css' %}">
<title>Warrior Cats by Erin Hunter</title>
</head>
<body>
<div class="page-header">
<h1>Warrior Cat Generator by Claire Banfield</h1>
</div>
<div class="page-body">
<h2><a href="/create_warrior/cats/add/">Create a Warrior</a></br></br></h2>
<h2><a href="/create_warrior/clans/add/">Create a Clan</a></br></br></h2>
<h2><a href="/create_warrior/list/">A list of all Cats</a></br></br></h2>
</div>
</body>
</html>